<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>LivroLand2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!-- Servlet é uma api que faz e recebe requisições-->
  <servlet>
  	<servlet-name>springmvc</servlet-name>
  	<!-- 
		O servlet class ele vai localizar a nossa biblioteca
	-->
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<!-- 
			Configurar o Spruin
			
		-->
		<param-value>/WEB-INF/spring-context.xml</param-value>
		
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <!-- O servlet mapping é a configuração de rotal-->
  <servlet-mapping>
  	<servlet-name>springmvc</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
</web-app>